<configuration>
	<appSettings>
		<add key="MONGOLAB_URI" value="mongodb://localhost/saywat" />
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>
		<iisnode loggingEnabled="false" />
		<rewrite>
			<rules>
				<rule name="myapp">
					<match url="/*" />
					<action type="Rewrite" url="app.js" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>