div.row-fluid
  div.span12
    h1 say wat?
    h2 what does "arvo" mean?

div.row-fluid
  div.span12.input
    h3 use it in a sentence
    div.useInSentence
      input(type='text', name='useInSentence')

div.row-fluid
  div.span12.input
    h3 can you guess the country of origin?
    div.countryOfOrigin
      input(type='text', name='countryOfOrigin')

div.row-fluid
  div.span12.go
      input.btn(type='submit', value='go')