div.row-fluid
  div.span-12
    h1 say wat?
    h2 what does "{word}" mean?

    p use it in a sentence
    div.useInSentence
      input(name='useInSentence')

    p can you guess the country of origin?
    div.countryOfOrigin
      input(name='countryOfOrigin')

    div.go
      input.btn(type='submit', value='go')