div.row-fluid
  div.span12
    h1 say wat?
    h2 want to know what #{phrase} means?

div.row-fluid
    div.span1 Phrase
    div.span3
      input(type='text', name='phrase', value=phrase)

div.row-fluid
    div.span1 Region
    div.span3
      input(type='text', name='origin')

div.row-fluid
    div.span1 &nbsp;
    div.span3
      input.btn(type='submit', value='ask!')
