div.row-fluid
  div.span12
    h1 say wat?
    h2 what were you looking for?

div.row-fluid
  div.search
    div.span8
      input(type='text', name='q')
    div.span3
      input.btn(type='submit', value='help!')
